<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Istn3ASproject.Properties.Settings.WstGrp11ConnectionString"
            connectionString="Data Source=146.230.177.46;Initial Catalog=WstGrp11;Persist Security Info=True;User ID=WstGrp11;Password=62ggg;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>